.agi-modal {
	z-index: 100000;
	&,
	&:before,
	&:after {
		@include box-sizing(border-box);
	}
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
	&:hover,
	&:focus {
		background-color: transparent;
		color: #000;
		text-decoration: none;
		cursor: pointer;
		filter: alpha(opacity=50);
		opacity: .5;
	}
}

#floating-button {
	background-color: #999;
	@include border-radius(50%);
	border: 3px solid #FFFFFF;
	display: inline-block;
	height: 27px;
	padding: 0px 4px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -25px;
	width: 27px;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}